.boxTask {
  width: 46rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info > div > p {
  color: var(--blue);
  font-weight: bold;
}

.info > div > span {
  gap: 0.625rem;
  padding: 0.125rem 0.5rem;
  border-radius: 50px;
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
}
